USE [master]
GO
/****** Object:  Database [Hotel]    Script Date: 19.10.2025 17:56:10 ******/
CREATE DATABASE [Hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hotel]
GO
/****** Object:  Table [dbo].[Бронь]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Бронь](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Сотрудник] [int] NULL,
	[Стоимость] [float] NULL,
	[Дата начала бронирования] [date] NULL,
	[Дата конца бронирования] [date] NULL,
	[Гость] [int] NULL,
	[Код номера] [int] NULL,
	[Количество дней] [int] NULL,
 CONSTRAINT [PK_Бронь] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Гость]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Гость](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](30) NULL,
	[Имя] [nvarchar](30) NULL,
	[Отчество] [nvarchar](30) NULL,
	[Код паспорта] [int] NULL,
	[Код заселения] [int] NULL,
	[Номер телефона] [nvarchar](13) NULL,
 CONSTRAINT [PK_Гость] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Номер]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Номер](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Номер] [int] NULL,
	[Статус номера] [int] NULL,
	[Вместимость] [nvarchar](50) NULL,
	[Цена за ночь] [int] NULL,
 CONSTRAINT [PK_Номер] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Паспорт]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Паспорт](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Серия] [nvarchar](4) NULL,
	[Номер] [nvarchar](6) NULL,
	[Дата рождения] [date] NULL,
 CONSTRAINT [PK_Паспорт] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Роли]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Роли](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](30) NULL,
 CONSTRAINT [PK_Роли] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Фамилия] [nvarchar](30) NULL,
	[Имя] [nvarchar](30) NULL,
	[Отчество] [nvarchar](30) NULL,
	[Роль] [int] NULL,
	[Email] [nvarchar](30) NULL,
	[Логин] [nvarchar](30) NULL,
	[Пароль] [nvarchar](30) NULL,
	[Телефон] [nvarchar](11) NULL,
	[Дата рождения] [date] NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус заселения]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус заселения](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](50) NULL,
 CONSTRAINT [PK_Статус заселения] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Статус номера]    Script Date: 19.10.2025 17:56:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Статус номера](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Статус] [nvarchar](30) NULL,
 CONSTRAINT [PK_Статус номера] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Бронь] ON 

INSERT [dbo].[Бронь] ([Код], [Сотрудник], [Стоимость], [Дата начала бронирования], [Дата конца бронирования], [Гость], [Код номера], [Количество дней]) VALUES (1, 1, 4000, CAST(N'2025-05-22' AS Date), CAST(N'2025-05-25' AS Date), 1, 1, 4)
INSERT [dbo].[Бронь] ([Код], [Сотрудник], [Стоимость], [Дата начала бронирования], [Дата конца бронирования], [Гость], [Код номера], [Количество дней]) VALUES (2, 1, 2000, CAST(N'2025-05-30' AS Date), CAST(N'2025-05-31' AS Date), 3, 2, 2)
INSERT [dbo].[Бронь] ([Код], [Сотрудник], [Стоимость], [Дата начала бронирования], [Дата конца бронирования], [Гость], [Код номера], [Количество дней]) VALUES (3, 1, 3000, CAST(N'2025-06-10' AS Date), CAST(N'2025-06-12' AS Date), 2, 7, 3)
SET IDENTITY_INSERT [dbo].[Бронь] OFF
GO
SET IDENTITY_INSERT [dbo].[Гость] ON 

INSERT [dbo].[Гость] ([Код], [Фамилия], [Имя], [Отчество], [Код паспорта], [Код заселения], [Номер телефона]) VALUES (1, N'Прокошев', N'Владислав', N'Николаевич', 1, 1, N'89519358823')
INSERT [dbo].[Гость] ([Код], [Фамилия], [Имя], [Отчество], [Код паспорта], [Код заселения], [Номер телефона]) VALUES (2, N'Иванов', N'Антон', N'Викторович', 2, 1, N'89345732343')
INSERT [dbo].[Гость] ([Код], [Фамилия], [Имя], [Отчество], [Код паспорта], [Код заселения], [Номер телефона]) VALUES (3, N'Рыбаков', N'Егор', N'Александрович', 3, 2, N'89532758362')
SET IDENTITY_INSERT [dbo].[Гость] OFF
GO
SET IDENTITY_INSERT [dbo].[Номер] ON 

INSERT [dbo].[Номер] ([Код], [Номер], [Статус номера], [Вместимость], [Цена за ночь]) VALUES (1, 10, 1, N'Одноместный номер', 1000)
INSERT [dbo].[Номер] ([Код], [Номер], [Статус номера], [Вместимость], [Цена за ночь]) VALUES (2, 11, 1, N'Одноместный номер', 1000)
INSERT [dbo].[Номер] ([Код], [Номер], [Статус номера], [Вместимость], [Цена за ночь]) VALUES (3, 12, 2, N'Двухместный номер', 1500)
SET IDENTITY_INSERT [dbo].[Номер] OFF
GO
SET IDENTITY_INSERT [dbo].[Паспорт] ON 

INSERT [dbo].[Паспорт] ([Код], [Серия], [Номер], [Дата рождения]) VALUES (1, N'5719', N'657483', CAST(N'2006-01-28' AS Date))
INSERT [dbo].[Паспорт] ([Код], [Серия], [Номер], [Дата рождения]) VALUES (2, N'7645', N'934285', CAST(N'2001-02-07' AS Date))
INSERT [dbo].[Паспорт] ([Код], [Серия], [Номер], [Дата рождения]) VALUES (3, N'5619', N'829511', CAST(N'2006-09-21' AS Date))
SET IDENTITY_INSERT [dbo].[Паспорт] OFF
GO
SET IDENTITY_INSERT [dbo].[Роли] ON 

INSERT [dbo].[Роли] ([Код], [Наименование]) VALUES (1, N'Менеждер по бронированию')
INSERT [dbo].[Роли] ([Код], [Наименование]) VALUES (2, N'Ресепшеонист')
INSERT [dbo].[Роли] ([Код], [Наименование]) VALUES (3, N'Администратор')
SET IDENTITY_INSERT [dbo].[Роли] OFF
GO
SET IDENTITY_INSERT [dbo].[Сотрудник] ON 

INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Роль], [Email], [Логин], [Пароль], [Телефон], [Дата рождения]) VALUES (1, N'Иванов', N'Иван', N'Иванович', 1, N'Manager32@mail.ru', N'man', N'man', N'89493002342', CAST(N'2001-04-26' AS Date))
INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Роль], [Email], [Логин], [Пароль], [Телефон], [Дата рождения]) VALUES (2, N'Лесников', N'Никита', N'Викторович', 2, N'Forest234@mail.ru', N'res', N'res', N'89123452312', CAST(N'2005-09-05' AS Date))
INSERT [dbo].[Сотрудник] ([Код], [Фамилия], [Имя], [Отчество], [Роль], [Email], [Логин], [Пароль], [Телефон], [Дата рождения]) VALUES (3, N'Админов', N'Никита', N'Валерьевич', 3, N'admin322@mail.ru', N'adm', N'adm', N'89588743923', CAST(N'2004-04-19' AS Date))
SET IDENTITY_INSERT [dbo].[Сотрудник] OFF
GO
SET IDENTITY_INSERT [dbo].[Статус заселения] ON 

INSERT [dbo].[Статус заселения] ([Код], [Наименование]) VALUES (1, N'Заселен')
INSERT [dbo].[Статус заселения] ([Код], [Наименование]) VALUES (2, N'Не заселен')
INSERT [dbo].[Статус заселения] ([Код], [Наименование]) VALUES (3, N'Выселен')
SET IDENTITY_INSERT [dbo].[Статус заселения] OFF
GO
SET IDENTITY_INSERT [dbo].[Статус номера] ON 

INSERT [dbo].[Статус номера] ([Код], [Статус]) VALUES (1, N'Занят')
INSERT [dbo].[Статус номера] ([Код], [Статус]) VALUES (2, N'Пуст')
SET IDENTITY_INSERT [dbo].[Статус номера] OFF
GO
ALTER TABLE [dbo].[Бронь]  WITH CHECK ADD  CONSTRAINT [FK_Бронь_Гость] FOREIGN KEY([Гость])
REFERENCES [dbo].[Гость] ([Код])
GO
ALTER TABLE [dbo].[Бронь] CHECK CONSTRAINT [FK_Бронь_Гость]
GO
ALTER TABLE [dbo].[Бронь]  WITH CHECK ADD  CONSTRAINT [FK_Бронь_Номер] FOREIGN KEY([Код номера])
REFERENCES [dbo].[Номер] ([Код])
GO
ALTER TABLE [dbo].[Бронь] CHECK CONSTRAINT [FK_Бронь_Номер]
GO
ALTER TABLE [dbo].[Бронь]  WITH CHECK ADD  CONSTRAINT [FK_Бронь_Сотрудник] FOREIGN KEY([Сотрудник])
REFERENCES [dbo].[Сотрудник] ([Код])
GO
ALTER TABLE [dbo].[Бронь] CHECK CONSTRAINT [FK_Бронь_Сотрудник]
GO
ALTER TABLE [dbo].[Гость]  WITH CHECK ADD  CONSTRAINT [FK_Гость_Паспорт] FOREIGN KEY([Код паспорта])
REFERENCES [dbo].[Паспорт] ([Код])
GO
ALTER TABLE [dbo].[Гость] CHECK CONSTRAINT [FK_Гость_Паспорт]
GO
ALTER TABLE [dbo].[Гость]  WITH CHECK ADD  CONSTRAINT [FK_Гость_Статус заселения] FOREIGN KEY([Код заселения])
REFERENCES [dbo].[Статус заселения] ([Код])
GO
ALTER TABLE [dbo].[Гость] CHECK CONSTRAINT [FK_Гость_Статус заселения]
GO
ALTER TABLE [dbo].[Номер]  WITH CHECK ADD  CONSTRAINT [FK_Номер_Статус номера] FOREIGN KEY([Статус номера])
REFERENCES [dbo].[Статус номера] ([Код])
GO
ALTER TABLE [dbo].[Номер] CHECK CONSTRAINT [FK_Номер_Статус номера]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Роли] FOREIGN KEY([Роль])
REFERENCES [dbo].[Роли] ([Код])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Роли]
GO
USE [master]
GO
